aside ul.links li a {
    transition: background-color 200ms ease, color 100ms ease;
}

.senses-aside {
    display: block;
    position: fixed;
    right: 0;
    top: 0;
    height: 100%;
    width: 400px;
    background-color: #fff;
    z-index: 1050;
    color: #758697;
    overflow-y: scroll;

    .card {
        .card-header {
            background-color: transparent;
            padding:0;
            @extend .my-2;
        }

        .card-content.p-2 {
            padding:0 !important;
        }
    }
}

.senses-aside-wrapper {
    position: relative;
    top: 0;
    left: 0;
    min-height: 100%;
    padding: 25px 20px 120px 20px;
    &::-webkit-scrollbar-track {
        //-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
        border-radius: 10px;
        background-color: #F5F5F5;
    }

    &::-webkit-scrollbar {
        width: 5px;
        background-color: #F5F5F5;
    }

    &::-webkit-scrollbar-thumb {
        border-radius: 10px;
        //-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
        background-color: rgba(0, 0, 0, 0.5);
    }
}

.senses-aside.aside-large {
    width: 900px;
    .aside-close,
    .aside-prev {
        right: 900px;
    }
}

.senses-aside .heading {
    margin-bottom: 15px;
}

.senses-aside-background {
    display: block;
    background-color: rgba(0, 0, 0, 0.4);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 100%;
    z-index: 1021;
}

.senses-aside.show, .senses-aside-background.show {
    display: block;
}


.aside-close {
    @extend .btn-danger;
    border-top-right-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
    position: fixed;
    right: 400px;
    top: 15px;
    color: #fff;

    font-size: 18px;
    padding: 10px 8px;
    line-height: 0;
    -webkit-transition: color 200ms ease;
    transition: color 200ms ease;
    border-bottom-left-radius: 2px;
    border-top-left-radius: 2px;
    z-index: 2000;
}


.aside-prev {
    @extend .btn-danger-light;
    border-top-right-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
    position: fixed;
    right: 400px;
    top: 68px;
    font-size: 18px;
    line-height: 0;
    -webkit-transition: color 200ms ease;
    transition: color 200ms ease;
    border-bottom-left-radius: 2px;
    border-top-left-radius: 2px;
    z-index: 2000;
    padding: 10px 8px;
}
aside
.aside-close:hover {
    color: #828282;
}

.senses-aside-background.aside-background-large {
}

.senses-aside-background {
    //animation-name: asideBgFadeIn;
    //animation-duration: 150ms;
    //animation-delay: 150ms;
    //animation-timing-function: ease;
}

//
//@keyframes asideBgFadeIn {
//    from {
//        opacity: 0;
//    }
//    to {
//        opacity: 1;
//    }
//}

.aside-close:hover {
    cursor: pointer;
}

.aside-slide-enter-active,
.aside-slide-leave-active {
    transition: all 150ms ease;
}

.aside-slide-enter, .aside-slide-leave-to {
    transform: translateX(100%);
}


@media(max-width: 900px) {
    .senses-aside {
        left: 0;
    }
    .senses-aside.aside-large {
        width: 100%;
    }
}

@media (max-width: 930px) {
    .senses-aside .senses-aside-wrapper .aside-close {
        position: absolute;
        font-size: 28px;
        color: #9b9b9b !important;
        background-color: transparent !important;
        box-shadow: none !important;
        padding: 5px 4px;
        right: 10px;
        top: 10px;
        left:auto;
    }
    .senses-aside-wrapper {
        padding: 65px 20px 50px 20px;
    }
}