@mixin senses-button-variant($background, $border, $text: darken($background, 65%) ,$hover-background: darken($background, 12.75%), $hover-border: darken($border, 10%), $active-background: $background, $active-border: darken($border, 12.5%)) {
    @if (lightness($background) > 50) {
        // nothing to see here
    } @else {
        $text: lighten($background, 65%);
        $hover-background: lighten($background, 12.75%);
    }
    color: $text;
    background-color: $background;
    transition: all 100ms ease;
    @extend .shadow;
    @include border-radius();
    @include hover {
        background-color: $hover-background;
        color: $text;
    }

    &:focus,
    &.focus {
        // Avoid using mixin so we can pass custom focus shadow properly
        @if $enable-shadows {
            box-shadow: $btn-box-shadow, 0 0 0 $btn-focus-width rgba($border, .5);
        } @else {
            box-shadow: 0 0 0 $btn-focus-width rgba($border, .5);
        }
    }

    // Disabled comes first so active can properly restyle
    &.disabled,
    &:disabled {
        color: $text;
        background-color: $background;
    }

    &:not(:disabled):not(.disabled):active,
    &:not(:disabled):not(.disabled).active,
    .show > &.dropdown-toggle {
        color: $text;
        @if (lightness($background) > 50) {
            background-color: darken($background, 25.5%);
        } @else {
            background-color: lighten($background, 25.5%);
        }
        &:not(.btn-toggle) {
            transform: translateY(2px);
        }

        &:focus {
            // Avoid using mixin so we can pass custom focus shadow properly
            @if $enable-shadows {
                box-shadow: $btn-active-box-shadow, 0 0 0 $btn-focus-width rgba($border, .5);
            } @else {
                box-shadow: 0 0 0 $btn-focus-width rgba($border, .5);
            }
        }
    }
}

.btn {
    border: none;
}

.btn-group {
    .btn {

    }
}

.btn.btn-xs {
    padding: 2px 6px;
    font-size: 11px;
    line-height: 1.5;
}

.bg-white {
    background-color: #fff;
}

.btn {
    border-radius: 0;
}

.btn.btn-outline {
    background-color: transparent;
}

.btn.btn-outline:hover {
    background-color: inherit;
}

button.bg-transparent:focus {
    outline: 0 !important;
    background-color: rgba(0, 0, 0, 0.1) !important;
    box-shadow: none !important;
}

.btn-group {
    .btn + .btn,
    .btn + .btn-group,
    .btn-group + .btn,
    .btn-group + .btn-group {
        margin-left: 0;
    }

    .btn-xs:not(:first-child) {
        margin-left: 0;
    }
}

.paginate_button {
    padding: 2px 6px !important;
    font-size: 10px !important;
    line-height: 1 !important;
    border-radius: 0 !important;
    border: 1px solid !important;
    border-color: #dddddd !important;
    background: transparent !important;
    color: #797979 !important;
}

@each $color, $value in $theme-colors {
    .btn-#{$color} {
        @include senses-button-variant($value, $value);
    }
}