.dropzone-component {

  .senses-dropzone {
    position: relative;

    &:hover {
      cursor: pointer;
    }

    .input-group-text, .input-group > .form-control:not(:first-child), .input-group > .custom-select:not(:first-child) {
      border-radius: 2px;
    }

    .drop-to-upload {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      background-color: rgb(11, 60, 144);
      opacity: 0.80;
      margin: 5px;

    }
    .drop-to-upload h1 {
      position: relative;
      top: 50%;
      transform: translateY(-50%);
      text-align: center;
      color: #fff;
    }

  }

  .senses-list-group:hover {
    cursor: pointer;
  }
  .list-group-item {
    padding: 0.5rem;
    border-radius: 2px;
  }

  .file-extension {
    margin-left: auto
  }
}

.dz-default {
  width: 100%;
  display: block;
  top: 0;
  position: absolute;
  bottom: 0;
}

.dz-preview {
  display: none !important;
  height: 0 !important;
}