.editor {
    .menubar {
        border: 1px solid #ced4da;
        border-bottom:none;
        padding: ($spacer /2);
    }

    .editor-box {
        background-color: #fff;
        border: 1px solid #ced4da;
        border-top:none;

        .ProseMirror {
            padding:($spacer /2);
        }

        p {
            margin: 0;

            &.is-empty:first-child::before {
                content: 'Start typing…';
                float: left;
                color: #aaa;
                pointer-events: none;
                height: 0;
                font-style: italic;
            }
        }

        div {
            padding: 3px;
            min-height: 100px;
        }

        div:focus {
            outline: none;
        }

    }
}