.toasted-container.top-center {
    top:5% !important;
}

.toasted.bubble {
    border-radius: 32px !important;
}

.toasted-container .toasted.bubble .action {
    color:#fff;
    font-weight: normal;
}

.toasted-container .toasted.bubble .action:hover {
    color:#fff;
    text-decoration: none;
}

@media (max-width: 900px) {
    #toasted-container {
        left: 0 !important;
        right: 0 !important;
        bottom: 0 !important;
        top: inherit !important;
    }
}