.fade-enter-active,
.fade-leave-active {
    transition: opacity 300ms ease;
    opacity: 1;
}

.fade-enter, .fade-leave-to {
    opacity: 0;
}

.fade-fast-enter-active,
.fade-fast-leave-active {
    transition: opacity 150ms ease;
    opacity: 1;
}

.fade-fast-enter, .fade-leave-to {
    opacity: 0;
}

.fade-down-notification-enter-active,
.fade-down-notification-leave-active {
    transition: opacity 300ms ease, top 300ms ease;
    opacity: 1;
    top: 40px;
}

.fade-down-notification-enter, .fade-down-notification-leave-to {
    opacity: 0;
    top: 30px;
}

.fade-to-side-enter-active, .fade-to-side-leave-active {
    transition: all 300ms;
}

.fade-to-side-enter, .fade-to-side-leave-active {
    opacity: 0;
}

.fade-to-side-enter {
    transform: translateX(31px);
}

.fade-to-side-leave-active {
    transform: translateX(-31px);
}

.fade-down-enter-active, .fade-down-leave-active {
    transition: all 300ms;
    transform: translateY(0);
}

.fade-down-enter, .fade-down-leave-active {
    opacity: 0;
}

.fade-down-enter {
    transform: translateY(-15px);
}

.fade-down-leave-active {
    transform: translateY(-15px);
}

.animate-height{
    transition: height 300ms ease;
}