$primary-light:     #c5e7f9;
$secondary-light:   #50546a;
$danger-light:      #ffc5c7;
$warning-light:     #fff8b3;
$success-light:     #ccf0d9;
$info-light:        #c9d9eb;

$theme-colors: ();

$theme-colors: map-merge((
        "primary-light":    $primary-light,
        "secondary-light":  $secondary-light,
        "success-light":    $success-light,
        "info-light":       $info-light,
        "warning-light":    $warning-light,
        "danger-light":     $danger-light,
    ),
    $theme-colors
);