<template>
    <div class="dropzone-component">
        <div class="senses-dropzone dropzone" ref="dropzone">
            <div class="input-group input-group mb-1">
                <input type="text" class="form-control text-capitalize" placeholder="Drop here to upload" :aria-label="type +' Files'" :name="name" :id="name"/>
                <div class="input-group-append">
                    <span class="input-group-text">Add</span>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
    window.Dropzone = require('dropzone');
    Dropzone.autoDiscover = false;

    export default {
        props:{
            type: {
                type: String,
                required: false
            },
            id: {
                type: Number,
                required: false
            },

            name:{
                type:String,
                default:"files"
            },

            public:{
                type:Boolean,
                default:false
            },
            acceptedFiles:{
                type:String,
                default:null
            },
            url: {
                type:String,
                required:true,
            }
        },
        mounted() {
            this.createDropzone();
        },

        methods: {
            createDropzone() {
                $(this.$refs.dropzone).dropzone({
                    url: this.url,
                    dictDefaultMessage: "",
                    acceptedFiles:this.acceptedFiles,
                    sending: (file, xhr, formData) => {
                        if (this.type && this.id) {
                            formData.append("fileable_type", this.type);
                            formData.append("fileable_id", this.id);
                            formData.append("public", this.public ? 1 : 0);
                        }
                    },
                    success: (file, response) => {
                        this.$emit('uploaded', response);
                    },
                    dragenter: (event) => {
                        this.$emit('dragEnter', event);
                    },
                    dragleave: (event) => {
                        this.$emit('dragLeave', event);
                    },
                    drop: (event) => {
                        this.$emit('drop', event);
                    },
                    headers: {
                        'X-CSRF-TOKEN': axios.defaults.headers.common['X-CSRF-TOKEN']
                    }
                })
            },
        }
    }
</script>