<template>
    <div>
        <editor class="editor" :extensions="extensions" ref="editor" @update="updateHtml" @init="setHtml">
            <div class="menubar" slot="menubar" slot-scope="{ nodes, marks, focused, focus, command }">
                <div v-if="nodes && marks" class="button-group">
                    <div class="btn-group">
                        <button class="btn btn-primary-light btn-xs btn-toggle"
                                :class="{ 'active': marks.bold.active() }"
                                @click.prevent="marks.bold.command">
                            <i class="fas fa-bold"></i>
                        </button>
                        <button class="btn btn-primary-light btn-xs btn-toggle"
                                :class="{ 'active': marks.italic.active() }"
                                @click.prevent="marks.italic.command">
                            <i class="fas fa-italic"></i>
                        </button>
                        <button class="btn btn-primary-light btn-xs btn-toggle"
                                :class="{ 'active': marks.underline.active() }"
                                @click.prevent="marks.underline.command">
                            <i class="fas fa-underline"></i>
                        </button>
                    </div>
                    <div class="btn-group">
                        <button class="btn btn-primary-light btn-xs btn-toggle"
                                :class="{ 'active': nodes.bullet_list.active() }"
                                @click.prevent="nodes.bullet_list.command">
                            <i class="fas fa-list-ul"></i>
                        </button>
                        <button class="btn btn-primary-light btn-xs btn-toggle"
                                :class="{ 'active': nodes.ordered_list.active() }"
                                @click.prevent="nodes.ordered_list.command">
                            <i class="fas fa-list-ol"></i>
                        </button>
                        <button
                                class="btn btn-primary-light btn-xs btn-toggle"
                                @click="toggleLinkMenu(marks.link)"
                                :class="{ 'is-active': marks.link.active() }">
                            <i class="fal fa-link"></i>
                        </button>
                    </div>

                    <form class="menubar__form"
                          v-if="linkMenuIsActive"
                          @submit.prevent="setLinkUrl(linkUrl, marks.link, focus)">
                        <input class="menubar__input"
                               type="text" v-model="linkUrl"
                               placeholder="https://" ref="linkInput"
                               @keydown.esc="hideLinkMenu"/>
                        <button class="menubar__button"
                                @click="setLinkUrl(null, marks.link, focus)"
                                type="button">
                            <i class="fal fa-times-circle"></i>
                        </button>
                    </form>
                </div>
            </div>

            <div slot="content" slot-scope="props" class="editor-box"></div>
        </editor>
    </div>
</template>
<script>
    import { Editor } from 'tiptap'
    import {
        // Nodes
        BulletListNode,
        HeadingNode,
        ListItemNode,
        OrderedListNode,
        TodoItemNode,
        TodoListNode,
        // Marks
        BoldMark,
        CodeMark,
        ItalicMark,
        UnderlineMark,
        LinkMark,

        // General Extensions
        HistoryExtension,
        PlaceholderExtension,
    } from 'tiptap-extensions'

    export default {

        model: {
            prop: 'html',
            event: 'change'
        },
        props: {
            html: String
        },
        data() {
            return {
                linkUrl: null,
                linkMenuIsActive: false,
                focused: true,
                extensions: [
                    new BulletListNode(),
                    new HeadingNode({maxLevel: 3}),
                    new ListItemNode(),
                    new OrderedListNode(),
                    new TodoItemNode(),
                    new TodoListNode(),
                    new BoldMark(),
                    new CodeMark(),
                    new ItalicMark(),
                    new UnderlineMark(),
                    new LinkMark(),
                    new HistoryExtension(),
                    new PlaceholderExtension({
                        emptyNodeClass: 'is-empty',
                    }),
                ],
            }
        },
        components: {
            Editor,
        },
        methods: {
            setHtml() {
                this.$refs.editor.setContent(this.html);
            },

            updateHtml(state) {
                this.$emit('change', state.getHTML())
            },

            toggleLinkMenu(type) {
                if(this.linkMenuIsActive) {
                    this.hideLinkMenu();
                }
                else {
                    this.showLinkMenu(type);
                }
            },

            showLinkMenu (type) {
                this.linkUrl = type.attrs.href;
                this.linkMenuIsActive = true;
                this.$nextTick(() => {
                    this.$refs.linkInput.focus();
                })
            },
            hideLinkMenu () {
                this.linkUrl = null;
                this.linkMenuIsActive = false;
            },
            setLinkUrl (url, type, focus) {
                type.command({ href: url });
                this.hideLinkMenu();
                focus();
            },
        },
    }
</script>