<template>
    <div>
        <div class="form-group" v-if="field.type === 'text'">
            <label>{{ field.label }}</label>
            <input type="text" class="form-control" v-model="field.value">
        </div>

        <div class="form-group" v-if="field.type === 'url'">
            <label>{{ field.label }}</label>
            <input type="url" class="form-control" v-model="field.value">
        </div>

        <div class="form-group" v-if="field.type === 'textarea'">
            <label>{{ field.label }}</label>
            <textarea name="" id="" cols="30" rows="10" class="form-control" v-model="field.value"></textarea>
        </div>

        <div class="form-group" v-if="field.type === 'color' || field.type === 'backgroundColor'">
            <label>{{ field.label }}</label>
            <input type="color" class="form-control" v-model="field.value">
        </div>

        <div class="form-group" v-if="field.type === 'wysiwyg'">
            <label>{{ field.label }}</label>
            <senses-builder-wysiwyg v-model="field.value"></senses-builder-wysiwyg>
        </div>

        <div v-if="field.type === 'image'">
            <label>{{ field.label }}</label>
            <senses-builder-image-field v-model="field.value" :page-id="pageId" :page-type="pageType"></senses-builder-image-field>
            <div class="form-group">
                <label>Image Title</label>
                <input type="text" class="form-control" v-model="field.value.alt">
            </div>
        </div>

        <div class="form-group" v-if="field.type === 'class'">
            <label>{{ field.label }}</label>
            <select v-model="field.value" class="form-control">
                <option :value="key" v-for="(title, key) in field.options" :key="key">{{ title }}</option>
            </select>
        </div>
    </div>
</template>
<script>
    import SensesBuilderImageField from './SensesBuilderImageField';
    import SensesBuilderWysiwyg from './SensesBuilderWysiwyg';

    export default {
        props: {
            field: {
                type: Object,
                required: true
            },

            pageId: {
                type: Number,
                required: true,
            },
            pageType: {
                type: String,
                required: true,
            }
        },

        components: {
            SensesBuilderImageField,
            SensesBuilderWysiwyg
        }
    }
</script>