<template>
    <div class="senses-builder">

        <div class="block-wrapper" v-for="(block, index) in blocks" @mouseenter="showBlockOptions($event, true)" @mouseleave="showBlockOptions($event, false)" :key="index">
            <component :is="block.template" :values="block.value" :ref="'block_' + index"></component>
            <div class="senses-builder-ui block-options align-items-center">
                <div class="mx-auto">
                    <button class="btn btn-sm btn-success" @click="editBlock(index)">Edit Block</button>
                    <button class="btn btn-sm btn-primary" :class="{ disabled: index == 0 }" @click="moveBlockUp(index)"><i class="fal fa-arrow-up"></i></button>
                    <button class="btn btn-sm btn-primary" :class="{ disabled: index == (blocks.length - 1) }" @click="moveBlockDown(index)"><i class="fal fa-arrow-down"></i></button>
                    <button class="btn btn-sm btn-info" @click="duplicateBlock(index)"><i class="fal fa-copy"></i></button>
                    <button class="btn btn-sm btn-danger"  @click="removeBlock(index)"><i class="fal fa-times"></i></button>
                </div>
            </div>
        </div>

        <div class="bg-light mb-2 senses-builder-ui" v-if="blocks.length === 0">
            <div class="p-4 text-center">
                <h5>Click add block to get started.</h5>
            </div>
        </div>

        <div class="text-center mt-3 senses-builder-ui">
            <button class="btn btn-secondary" @click="showBlocksAside">Add Block</button>
        </div>

        <div class="clearfix senses-builder-ui">
            <div class="float-right mt-3 mb-5">
                <a :href="back" class="btn btn-link mr-2" v-if="back">Back</a>
                <a :href="model.public_url" class="btn btn-link mr-2" v-if="model.public_url" target="_blank">View</a>
                <button class="btn btn-link text-success mr-2" @click="saveDraft" v-if="status_slug != 'draft'">Save &amp; Draft</button>
                <button class="btn btn-link text-success mr-2" @click="saveDraft" v-else>Save as Draft</button>
                <button class="btn btn-success" @click="savePublish" v-if="status_slug != 'published'">Save &amp; Publish</button>
                <button class="btn btn-success" @click="savePublish" v-else>Save</button>
            </div>
        </div>
        <senses-builder-aside :aside="aside" @closed="asideClose" @emitted="asideEmitted"></senses-builder-aside>
    </div>
</template>
<script>
    import Vue from 'vue';
    import SensesBuilderAside from './SensesBuilderAside';

    //Auto load blocks.
    const files = require.context('./blocks', true, /\.vue$/i);
    files.keys().map(key => {
       return Vue.component(_.last(key.split('/')).split('.')[0], files(key).default)
    });

    export default {
        props:{
            model:{
                type:Object,
                required:true,
            },
            back:{
                type:String,
                default:null
            },
            debug:{
                type:Boolean,
                default:false
            }
        },
        data() {
            return {
                pageId:null,
                pageType:null,
                status_slug:'draft',
                blocks:[],
                aside:{
                    component:'',
                    data:{},
                    debug:false,
                },
                toastNotification:{
                    theme: 'bubble',
                    position: 'top-center',
                    duration: 3000,
                    className:"senses-builder-ui",
                    action: {
                        text:'X',
                        onClick: (e, toastObject) => {
                            toastObject.goAway(0);
                        }
                    }
                },
            }
        },

        mounted(){
            this.mapModelData(this.model);
        },

        methods: {
            moveBlockUp(index) {
                this.swapBlocks(index, index - 1);
            },

            moveBlockDown(index) {
                this.swapBlocks(index, index + 1);
            },

            swapBlocks(indexA, indexB) {
                //Avoid out of range swapping.
                if((indexA >= this.blocks.length || indexA < 0) || (indexB >= this.blocks.length || indexB < 0)) {
                    return;
                }

                let blockA = this.blocks[indexA];
                let blockB = this.blocks[indexB];

                blockA.value = this.$refs['block_' + indexA][0].getValues();    //force update of value using templates version.
                blockB.value = this.$refs['block_' + indexB][0].getValues();
                this.blocks[indexA] = blockB;
                Vue.set(this.blocks, indexB, blockA);
            },

            removeBlock(index) {
                this.blocks.splice(index, 1);
            },

            addBlock(template) {
                this.blocks.push({
                    template:template,
                    value:{}
                });
            },

            duplicateBlock(index) {
                this.blocks.splice(index, 0, {
                    template:this.blocks[index].template,
                    value:this.$refs['block_' + index][0].getValues()
                });
            },

            editBlock(index) {
                this.aside = {
                    component:'senses-builder-form-aside',
                    data:{
                        fields: this.$refs['block_' + index][0].getFields(),
                    },
                    pageId:this.pageId,
                    pageType:this.pageType,
                    debug:this.debug,
                }
            },

            showBlocksAside() {
                this.aside = {
                    component:'senses-builder-blocks-aside',
                    class:['aside-small'],
                    data:{},
                    pageId:this.pageId,
                    pageType:this.pageType,
                    debug:this.debug,
                }
            },

            showBlockOptions(e, show) {
                if(show) {
                    e.target.closest('.block-wrapper').classList.add("show-options");
                }
                else {
                    e.target.closest('.block-wrapper').classList.remove("show-options");
                }
            },

            asideClose() {
                this.aside = {
                    component:null,
                    data:{},
                    pageId:this.pageId,
                    pageType:this.pageType,
                    debug:this.debug,
                };
            },

            asideEmitted(data) {
                if(data.event === 'add-block') {
                    this.addBlockEvent(data);
                }
                else if(data.event === 'add-blocks') {
                    this.addBlocksEvent(data);
                }

            },

            addBlockEvent(data) {
                this.addBlock(data.template);
                Vue.nextTick(()=> {
                    const index = this.blocks.length - 1;
                    const defaultValues = this.$refs['block_' + index][0].getValues();
                    if(Object.keys(defaultValues).length > 0) {
                        this.editBlock(index);
                    }
                    else {
                        this.asideClose();
                    }
                });
            },

            addBlocksEvent(data) {
                data.templates.forEach(template => {
                   this.addBlock(template.stored_title);
                });
            },

            prepareSave() {
                let data = {
                    blocks: [],
                    blockable_id:this.pageId,
                    blockable_type:this.pageType,
                    status_slug:this.status_slug
                };
                //grab together relevant data for saving, template+ values only
                for(let index = 0; index < this.blocks.length; ++index) {
                    data.blocks.push({
                        template:this.blocks[index].template,
                        value:this.$refs['block_' + index][0].getValues()
                    });
                }

                return data;
            },

            save(data) {
                axios.post('/api/senses-builder', data).then(response => {
                    if(response.data.builder_data) {
                        this.mapModelData(response.data.builder_data, true);
                    }
                    Vue.toasted.success('Saved', this.toastNotification);
                }).catch(error => {
                    console.log('SaveError', error);
                    Vue.toasted.error('Save failed', this.toastNotification);
                });
            },

            saveDraft() {
                let data = this.prepareSave();
                data.status_slug = "draft";
                this.save(data);
            },

            savePublish() {
                let data = this.prepareSave();
                data.status_slug = "published";
                this.save(data);
            },

            mapModelData(model, ignoreBlocks = false) {
                if(!ignoreBlocks) {
                    this.blocks = model.blocks;
                }
                this.pageId = model.id;
                this.pageType = model.type;
                this.status_slug = model.status_slug;
            }

        },

        components:{
            SensesBuilderAside
        }
    }
</script>