<template>
    <div class="editor relative">
        <div ref="editor" @keydown.enter.stop></div>
    </div>
</template>
<script>
    import Quill from 'quill';
    import Parchment from 'parchment';

    export default {

        model: {
            prop: 'html',
            event: 'change'
        },
        props: {
            html: String
        },
        watch:{
            html(newVal, oldVal) {
                if(newVal.length !== this.editor.root.innerHTML.length || newVal !== this.editor.root.innerHTML) {  //try some quick checks first to see whether to update quill
                  this.handleEditorValue();
                }
            }
        },
        data() {
            return {
                editor: null,
                editorBody: this.body
            }
        },
        mounted() {
            this.editor = this.createEditor();

            this.handleEditorValue();
            this.handleClicksInsideEditor();
        },
         methods: {
            /**
             * Create an instance of the editor.
             */
            createEditor(){
                const icons = Quill.import('ui/icons');
                icons.header[3] = require('!html-loader!quill/assets/icons/header-3.svg');
                let editor = new Quill(this.$refs.editor, {
                    modules: {
                        syntax: false,
                        toolbar: [
                            ['bold', 'italic', 'underline', 'strike'],
                            [{'header': '2'}, {'header': '3'}],
                            [{'list': 'ordered'}, {'list': 'bullet'}, 'link'],
                            ['blockquote'],
                        ]
                    },
                    theme: 'snow',
                    scrollingContainer: 'html, body',
                    placeholder: this.placeholder
                });

                //bump pasted h1 to h2
                editor.clipboard.addMatcher("H1", (node, delta) => {
                    delta.ops.forEach(op => {
                        if(op.attributes.header && op.attributes.header === 1) {
                            op.attributes.header = 2;
                        }
                    });

                    return delta;
                });

                return editor;
            },
            /**
             * Handle the editor value.
             */
            handleEditorValue(){
                this.editor.root.innerHTML = this.html;
                this.editor.on('text-change', () => {
                  let value = (this.editor.getText() === "\n") ? '' : this.editor.root.innerHTML; //setting quill to '' will result in it converting to newline, thus causing validation issues down the line.
                   if(!(this.html === value)) {
                     this.$emit('change', this.editor.getText() ? value : '');
                   }
                });
            },
            /**
             * Handle click events inside the editor.
             */
            handleClicksInsideEditor(){
                this.editor.root.addEventListener('click', (ev) => {
                    let blot = Parchment.find(ev.target, true);
                });
            }
        }
    }
</script>