<template>
    <div>
           <div class="form-group">
               <select name="category" id="" class="form-control" v-model="category" @change="loadTemplates">
                   <option :value="null">Select Category</option>
                   <option :value="category" v-for="category in categories">{{ category }}</option>
               </select>
           </div>
            <div v-if="results && results.data">
                <div v-for="template in results.data">
                    <a href="#" class="block-select my-2" @click.prevent="addBlock(template.stored_title)">
                        <img :src="template.image_url" :alt="template.title" :title="template.title" class="img-fluid">
                    </a>
                </div>
            </div>
            <p class="text-center my-4" v-if="results && results.data && results.data.length === 0">No images found</p>

            <button class="btn btn-danger btn-sm text-white btn-block" @click="addBlocks(results.data)" v-if="debug">Add all blocks</button>

            <div class="d-flex justify-content-end" v-if="results && results.meta">
                <senses-builder-pagination :data="results.meta" :limit="1" @pagination-change-page="loadTemplates"></senses-builder-pagination>
            </div>
    </div>
</template>
<script>
    export default {
        props:{
            data:{
                type:Object,
                required:true,
            },
            debug:{
                type:Boolean,
                default:false
            }
        },

        data() {
            return {
                category:'Text & Paragraph',
                categories:[],
                results:null,
                page:1
            }
        },

        mounted() {
            this.loadCategories();
            this.loadTemplates();
        },

        methods:{
            addBlock(template) {
                this.$emit('emitted', {
                    event:"add-block",
                    template:template
                });
            },

            addBlocks(templates) {
                this.$emit('emitted', {
                    event:"add-blocks",
                    templates:templates
                });
            },
            loadCategories() {
                axios.get('/api/senses-builder/template-blocks/categories').then(response => {
                    this.categories = response.data.categories;
                });
            },

            loadTemplates(page = null) {
                if(page !== null) {
                    this.page = page;
                }

                let categoryFilter = '';
                if(this.category) {
                    categoryFilter = '&filter[category]=' + encodeURIComponent(this.category);
                }
                axios.get('/api/senses-builder/template-blocks?limit=8&page='+ this.page + categoryFilter).then(response => {
                    this.results = response.data;
                });
            }
        }
    }
</script>