<template>
    <div>
        <div v-if="!currentImage" class="mb-4">
            <div class="form-group">
                <senses-builder-dropzone :id="pageId" :type="pageType" :public="true" accepted-files="image/*" url="/api/senses-builder/files" @uploaded="uploaded"></senses-builder-dropzone>
            </div>
            <div class="row" v-if="results && results.data">
                <div class="col-sm-4" v-for="galleryImage in results.data" :key="galleryImage.id">
                    <a href="#" class="image-select my-2" @click.prevent="setImage(galleryImage)">
                        <span class="image-wrapper">
                            <img :src="galleryImage.url" alt="" class="img-fluid">
                            <span class="image-size">{{ galleryImage.name }}</span>
                        </span>
                    </a>
                </div>
            </div>

            <p class="text-center my-4" v-if="results && results.data && results.data.length === 0">No images found</p>

            <div class="d-flex justify-content-end" v-if="results && results.meta">
                <senses-builder-pagination :data="results.meta" :limit="1" @pagination-change-page="loadImages"></senses-builder-pagination>
            </div>
        </div>
        <div v-if="currentImage">
            <div class="form-group">
                <div class="image-preview" :class='{ "scroll-wrapper": !this.cropping }'>
                    <img ref="img" :src="getImageUrl(currentImage)" class="img-fluid">
                </div>

                <div class="d-flex justify-content-between">
                    <span class="image-size" v-if="selectedImage.width && selectedImage.height">Target Image Size: {{ selectedImage.width }}x{{ selectedImage.height }} Aspect Ratio {{ calculateAspectRatio(selectedImage.width, selectedImage.height) }}</span>
                    <span class="image-size" v-if="cropping">Double click to toggle move/crop, scroll wheel to zoom</span>
                </div>
            </div>
            <div class="form-group">
                <button class="btn btn-info" @click="setImage(null)">Select a different image</button>
                <button class="btn btn-info" @click="setCropping(true)" v-if="!cropping">Crop Image</button>
                <button class="btn btn-success" @click="applyCrop" v-if="cropping">Apply Crop</button>
            </div>
        </div>
    </div>
</template>
<script>
    import Cropper from 'cropperjs';
    import Vue from 'vue';

    export default {
        model: {
            prop: 'selectedImage',
            event: 'change'
        },
        props: {
            selectedImage: {
                type: Object,
                default: null
            },
            pageId: {
                type: Number,
                required: true,
            },
            pageType: {
                type: String,
                required: true,
            }
        },
        data() {
            return {
                results:null,
                currentImage: null,
                cropping: false,
                cropper: null,
                page:1
            }
        },

        mounted() {
            this.setImage(this.selectedImage, null, true);
            this.loadImages();
        },
        methods: {
            uploaded(response) {
                this.loadImages();
                this.setImage(response);
            },
            loadImages(page) {
                if(page) {
                    this.page = page;
                }
                axios.get('/api/senses-builder/files?filter[is-image]=true&filter[is-public]=true&limit=6&sort=-id&page=' + this.page).then(response => {
                    this.results = response.data;
                })
                    .catch(error => {
                    })
            },

            setCropping(cropping) {
                this.cropping = cropping;
                if (this.cropping) {
                    this.initCropper();
                }
                else {
                    this.destroyCropper();
                }
            },

            setImage(image, skipCropping = false) {
                this.currentImage = image;
                this.destroyCropper();
                if (image) {
                    Vue.nextTick(() => {
                        const aspectRatio = this.calculateAspectRatio(this.$refs.img.clientWidth, this.$refs.img.clientHeight);
                        const selectedAspectRatio = this.calculateAspectRatio(this.selectedImage.width, this.selectedImage.height);

//                        if(isNaN(aspectRatio)) {
//                            skipCropping = true;
//                        }

                        if (!skipCropping && aspectRatio.toFixed(2) !== selectedAspectRatio.toFixed(2)) {
                            this.setCropping(true);
                        }
                        else {
                            this.setCropping(false);
                            this.applyImage();
                        }
                    });
                }
            },

            initCropper() {
                Vue.nextTick(() => {
                    this.cropper = new Cropper(this.$refs.img, {
                        aspectRatio: this.calculateAspectRatio(this.selectedImage.width, this.selectedImage.height),
                        scalable: true,
                        checkCrossOrigin: false,
                        viewMode: 1,
                        minContainerHeight:200,
                        background:false,
                    });
                });
            },

            destroyCropper() {
                if (this.cropper) {
                    this.cropper.destroy();
                }
            },

            applyCrop() {
                const cropData = this.cropper.getCropBoxData();
                const cropTitle = this.currentImage.title +'-crop-'+cropData.width.toFixed(0) +'-' + cropData.height.toFixed(0);
                axios.post('/api/senses-builder/files', {
                    file_base64: this.cropper.getCroppedCanvas({
                        width:this.selectedImage.width,
                        height:this.selectedImage.height,
                        imageSmoothingEnabled: false,
                        imageSmoothingQuality: "high"
                    }).toDataURL("image/jpeg"),
                    "fileable_id": this.pageId,
                    "fileable_type": this.pageType,
                    "title": cropTitle,
                    "public": true
                }).then(response => {
                    this.$emit('change', { src: response.data.url, title:response.data.title, id: response.data.id, width: this.selectedImage.width, height:this.selectedImage.height, alt: this.selectedImage.alt });
                    this.currentImage = response.data;
                    this.setCropping(false);
                    this.loadImages();
                }).catch(error => {
                    console.log(error);
                });
            },

            applyImage() {
                this.$emit('change', { src: this.getImageUrl(this.currentImage), title:this.currentImage.title, fileId: this.currentImage.id, width: this.selectedImage.width, height:this.selectedImage.height, alt: this.selectedImage.alt })
            },

            calculateAspectRatio(width, height) {
                return (width / height);
            },

            getImageUrl(image) {
                if(image.url) {
                    return image.url;
                }
                else  if(image.src) {
                    return image.src;
                }

                return null;
            }
        }
    }
</script>