<template>
    <div >
        <div class="mr-3 pt-1">
            <p class="mb-0 text-danger" v-if="errors.message" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne"><i class="fal fa-exclamation-circle"></i> {{errors.message}}</p>
        </div>
        <div style="position: absolute; top: 40px; left: 0;" v-if="errors.status_code === 500">
            <div class="accordion" id="accordionExample">
                <div class="card bg-danger text-white">
                    <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
                        <div class="card-body">
                            <p v-if="errors.exception.message">
                                <strong>Exception Message:</strong> {{errors.exception.message}}
                            </p>

                            <p v-if="errors.exception.file">
                                <strong> Exception File: </strong>{{errors.exception.file}}
                            </p>

                            <p v-if="errors.exception.line">
                                <strong>Exception Line:</strong> {{errors.exception.line}}
                            </p>

                            <a href="#" @click.prevent="showTrace = !showTrace" v-if="errors.exception.trace && errors.exception.trace.length > 0">
                                <strong>Show Trace Errors</strong>
                            </a>

                            <div v-if="errors.exception.trace && showTrace">
                                <p v-for="trace in errors.exception.trace">
                                    {{trace.file}}
                                    {{trace.line}}
                                    {{trace.function}}
                                    {{trace.class}}
                                    {{trace.type}}
                                    {{trace.args | json}}
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</template>
<script>
    export default {
        props: {
            errors: {
                message: null,
                exception: {
                    exception: null,
                    trace: []
                },
                params: {}
            }
        },

        mounted() {

        },
        data: function () {
            return {
                showErrors: false,
                showTrace: false
            }
        },
    }
    ;
</script>