<template>
    <div>
        <div v-for="field in fields">
            <senses-builder-form-fields :field="field" @emitted="emitted" :page-id="pageId" :page-type="pageType"></senses-builder-form-fields>
            <div  v-if="field.type === 'group'">
                <div v-for="groupField in field.value">
                    <senses-builder-form-fields :field="groupField" @emitted="emitted" :page-id="pageId" :page-type="pageType"></senses-builder-form-fields>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
    import SensesBuilderFormFields from "./SensesBuilderFormFields.vue";

    export default {
        props:{
            data:{
                type:Object,
                required:true
            },
            pageId:{
                type:Number,
                required:true,
            },
            pageType:{
                type:String,
                required:true,
            },
            debug:{
                type:Boolean,
                default:false
            }
        },

        data() {
            return {
                fields:[]
            }
        },

        components:{
            SensesBuilderFormFields
        },

        mounted() {
            this.fields = this.data.fields;
        },

        methods:{
            emitted(data) {
                this.$emit('emitted', data);
            }
        }
    }
</script>