<template>
    <div class="senses-builder-aside senses-builder-ui">
        <transition name="fade">
            <div v-if="aside.component" class="senses-aside-background aside-background-large" @click="closeAside">
            </div>
        </transition>

        <transition name="aside-slide">
            <div class="senses-aside" v-if="aside.component" :class="asideClass">
                <div class="senses-aside-wrapper">
                    <div class="aside-close" @click="closeAside">
                        <i class="fal fa-times fa-fw "></i>
                    </div>
                    <component :is="aside.component" :data="aside.data" :debug="aside.debug" @emitted="emitted" :page-id="aside.pageId" :page-type="aside.pageType"></component>
                </div>
            </div>
        </transition>
    </div>
</template>
<script>
    import SensesBuilderFormAside from "./SensesBuilderFormAside.vue";
    import SensesBuilderBlocksAside from "./SensesBuilderBlocksAside.vue";

    export default {
        props:{
            aside:{
                type:Object,
                required:true,
            }
        },
        methods:{
            closeAside() {
                this.$emit('closed');
            },

            emitted(data) {
                this.$emit('emitted', data);
            },
        },

        computed:{
            asideClass() {
                if(this.aside.class) {
                    return this.aside.class;
                }
                return ['aside-large'];
            }
        },

        components:{
            SensesBuilderFormAside,
            SensesBuilderBlocksAside
        }
    }
</script>