<template>
    <div class="container-fluid my-5 px-0">
        <div class="row">
            <div class="col-sm-3">
                <img :src="fields.imageOne.value.src" :alt="fields.imageOne.value.alt" :title="fields.imageOne.value.alt" class="img-fluid mb-3">
            </div>
            <div class="col-sm-3">
                <div v-html="fields.contentOne.value" class="mb-3"></div>
            </div>
            <div class="col-sm-3">
                <img :src="fields.imageTwo.value.src" :alt="fields.imageTwo.value.alt" :title="fields.imageTwo.value.alt" class="img-fluid mb-3">
            </div>
            <div class="col-sm-3">
                <div v-html="fields.contentTwo.value" class="mb-3"></div>
            </div>
        </div>
    </div>
</template>
<script>
    import BlockMixin from './../BlockMixin';

    export default {
        mixins: [BlockMixin],
        data() {
            return {
                //FIELDS_START
                fields: {
                    imageOne: {
                        label: "Image",
                        type: "image",
                        value: {
                            src:"/senses-builder/images/coffee-image.jpg",
                            title:"",
                            file_id:null,
                            alt:"",
                            width:255,
                            height:145
                        }
                    },
                    contentOne: {
                        label: "Content",
                        type: "wysiwyg",
                        value:"Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet, cumque debitis deleniti ea eos, in incidunt iste molestias non omnis perspiciatis placeat praesentium provident quas."
                    },
                    imageTwo: {
                        label: "Image",
                        type: "image",
                        value: {
                            src:"/senses-builder/images/coffee-image.jpg",
                            title:"",
                            file_id:null,
                            alt:"",
                            width:255,
                            height:145
                        }
                    },
                    contentTwo: {
                        label: "Content",
                        type: "wysiwyg",
                        value:"Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet, cumque debitis deleniti ea eos, in incidunt iste molestias non omnis perspiciatis placeat praesentium provident quas."
                    }
                }
                //FIELDS_END
            }
        }
    }
</script>