<template>
    <div class="my-5" :class="fields.align.value">
        <h2>{{ fields.header.value }}</h2>
        <h5>{{ fields.subHeader.value }}</h5>
    </div>
</template>
<script>
    import BlockMixin from './../BlockMixin';

    export default {
        mixins: [BlockMixin],
        data() {
            return {
                //FIELDS_START
                fields: {
                    header: {
                        label: "Header",
                        type: "text",
                        value:"Lorem ipsum"
                    },
                    subHeader: {
                        label: "Sub Header",
                        type: "text",
                        value:"Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda consequuntur debitis facere praesentium reiciendis rem veniam."
                    },
                    align:{
                        label: "Text Alignment",
                        type: "class",
                        value: "text-center",
                        options: {
                            "text-center": "Text Center",
                            "text-left": "Text Left",
                            "text-right": "Text Right"
                        }
                    }
                }
                //FIELDS_END
            }
        }
    }
</script>