<template>
    <h1 class="my-5" :class="fields.align.value">{{ fields.header.value }}</h1>
</template>
<script>
    import BlockMixin from './../BlockMixin';

    export default {
        mixins: [BlockMixin],
        data() {
            return {
                //FIELDS_START
                fields: {
                    header: {
                        label: "Header",
                        type: "text",
                        value:"Lorem ipsum"
                    },
                    align:{
                        label: "Text Alignment",
                        type: "class",
                        value: "text-center",
                        options: {
                            "text-center": "Text Center",
                            "text-left": "Text Left",
                            "text-right": "Text Right"
                        }
                    }
                }
                //FIELDS_END
            }
        }
    }
</script>