<template>
    <div class="my-5" :class="fields.align.value">
        <h4>{{ fields.heading.value }}</h4>
        <div v-html="fields.content.value"></div>
    </div>
</template>
<script>
    import BlockMixin from './../BlockMixin';

    export default {
        mixins: [BlockMixin],
        data() {
            return {
                //FIELDS_START
                fields: {
                    heading: {
                        label: "Heading",
                        type: "text",
                        value:"Lorem ipsum"
                    },

                    content: {
                        label: "Content",
                        type: "wysiwyg",
                        value:"Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet, cumque debitis deleniti ea eos, in incidunt iste molestias non omnis perspiciatis placeat praesentium provident quas quidem sunt unde voluptate voluptatem."
                    },
                    align:{
                        label: "Text Alignment",
                        type: "class",
                        value: "text-center",
                        options: {
                            "text-center": "Text Center",
                            "text-left": "Text Left",
                            "text-right": "Text Right"
                        }
                    }
                }
                //FIELDS_END
            }
        }
    }
</script>