<template>
    <blockquote class="blockquote my-5" :class="fields.align.value">
        <p class="mb-2">{{ fields.quote.value }}</p>
        <footer class="blockquote-footer"><cite title="Source Title">{{ fields.source.value }}</cite></footer>
    </blockquote>
</template>
<script>
    import BlockMixin from './../BlockMixin';

    export default {
        mixins: [BlockMixin],
        data() {
            return {
                //FIELDS_START
                fields: {
                    quote: {
                        label: "Quote",
                        type: "textarea",
                        value:"Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet, cumque debitis deleniti ea eos, in incidunt iste molestias non omnis perspiciatis placeat praesentium provident quas quidem sunt unde voluptate voluptatem."
                    },
                    source: {
                        label: "Source",
                        type: "text",
                        value:"By John Smith"
                    },
                    align:{
                        label: "Text Alignment",
                        type: "class",
                        value: "text-left",
                        options: {
                            "text-center": "Text Center",
                            "text-left": "Text Left",
                            "text-right": "Text Right"
                        }
                    }
                }
                //FIELDS_END
            }
        }
    }
</script>