<template>
    <div class="my-5" :class="fields.align.value">
        <a :href="fields.buttonLink.value" class="btn" :class="fields.buttonStyle.value">{{ fields.buttonText.value }}</a>
    </div>
</template>
<script>
    import BlockMixin from './../BlockMixin';

    export default {
        mixins: [BlockMixin],
        data() {
            return {
                //FIELDS_START
                fields: {
                    buttonText: {
                        label: "Button Text",
                        type: "text",
                        value:"Read more"
                    },

                    buttonLink: {
                        label: "Button Link",
                        type: "url",
                        value:"#"
                    },
                    buttonStyle:{
                        label: "Button Style",
                        type: "class",
                        value: "btn-primary",
                        options: {
                            "btn-primary": "Solid primary",
                            "btn-secondary": "Solid secondary",
                            "btn-info": "Solid Info",
                            "btn-outline-primary": "Outline primary",
                            "btn-outline-secondary": "Outline secondary",
                            "btn-outline-info": "Outline info"
                        }
                    },
                    align:{
                        label: "Text Alignment",
                        type: "class",
                        value: "text-center",
                        options: {
                            "text-center": "Text Center",
                            "text-left": "Text Left",
                            "text-right": "Text Right"
                        }
                    }
                }
                //FIELDS_END
            }
        }
    }
</script>