<template>
    <img :src="fields.imageOne.value.src" :alt="fields.imageOne.value.alt" :title="fields.imageOne.value.alt" class="img-fluid my-5">
</template>
<script>
    import BlockMixin from './../BlockMixin';

    export default {
        mixins: [BlockMixin],
        data() {
            return {
                //FIELDS_START
                fields: {
                    imageOne: {
                        label: "Image One",
                        type: "image",
                        value: {
                            src:"/senses-builder/images/coffee-image.jpg",
                            title:"",
                            file_id:null,
                            alt:"",
                            width:1110,
                            height:630
                        }
                    }
                }
                //FIELDS_END
            }
        }
    }
</script>