<template>
    <div class="bg-light container-fluid">
        <div class="row">
            <div class="col-sm-6 offset-sm-3">
                <div class="card my-5">
                    <div class="card-body" :class="fields.align.value">
                        <h2>{{ fields.header.value }}</h2>
                        <div v-html="fields.content.value"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
    import BlockMixin from './../BlockMixin';

    export default {
        mixins: [BlockMixin],
        data() {
            return {
                //FIELDS_START
                fields: {
                    header: {
                        label: "Header",
                        type: "text",
                        value: "Lorem ipsum"
                    },
                    content: {
                        label: "Content",
                        type: "wysiwyg",
                        value: "Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet, cumque debitis deleniti ea eos, in incidunt iste molestias non omnis perspiciatis placeat praesentium provident quas quidem sunt unde voluptate voluptatem."
                    },
                    align: {
                        label: "Text Alignment",
                        type: "class",
                        value: "text-left",
                        options: {
                            "text-center": "Text Center",
                            "text-left": "Text Left",
                            "text-right": "Text Right"
                        }
                    }
                }
                //FIELDS_END
            }
        }
    }
</script>