<template>
    <div class="container-fluid my-5">
        <div class="row">
            <div class="col-sm-10">
                <blockquote class="blockquote mb-3 py-4">
                    <p class="m-xs-b-2">{{ fields.quote.value }}</p>
                    <footer class="blockquote-footer"><cite title="Source Title">{{ fields.source.value }}</cite></footer>
                </blockquote>
            </div>
            <div class="col-sm-2">
                <div class="text-center m-xs-b-2">
                    <img :src="fields.image.value.src" :alt="fields.image.value.alt" :title="fields.image.value.alt" class="img-fluid rounded-circle p-4">
                </div>
            </div>
        </div>
    </div>
</template>
<script>
    import BlockMixin from './../BlockMixin';

    export default {
        mixins: [BlockMixin],
        data() {
            return {
                //FIELDS_START
                fields: {
                    quote: {
                        label: "Quote",
                        type: "textarea",
                        value:"Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet, cumque debitis deleniti ea eos, in incidunt iste molestias non omnis perspiciatis placeat praesentium provident quas quidem sunt unde voluptate voluptatem."
                    },
                    source: {
                        label: "Source",
                        type: "text",
                        value:"By John Smith"
                    },
                    image: {
                        label: "Image",
                        type: "image",
                        value: {
                            src:"/senses-builder/images/coffee-image-small.jpg",
                            title:"",
                            file_id:null,
                            alt:"",
                            width:155,
                            height:155
                        }
                    }
                }
                //FIELDS_END
            }
        }
    }
</script>