<template>
    <div class="py-3">
    <hr class="my-0">
    </div>
</template>
<script>
    import BlockMixin from './../BlockMixin';

    export default {
        mixins: [BlockMixin],
        data() {
            return {
                //FIELDS_START
                fields: {
                }
                //FIELDS_END
            }
        }
    }
</script>