<template>
    <div>
        <div class="py-5"></div>
    </div>
</template>
<script>
    import BlockMixin from './../BlockMixin';

    export default {
        mixins: [BlockMixin],
        data() {
            return {
                //FIELDS_START
                fields: {
                }
                //FIELDS_END
            }
        }
    }
</script>