<template>
    <div class="bg-light container-fluid p-xs-x-0">
        <div class="row">
            <div class="col-sm-6">
                <div class="card my-5">
                    <div class="card-body" :class="fields.align.value">
                        <div class="text-center">
                            <img :src="fields.cardOneImage.value.src" :alt="fields.cardOneImage.value.alt" :title="fields.cardOneImage.value.alt" class="img-fluid rounded-circle p-4">
                        </div>
                        <h2>{{ fields.cardOneHeader.value }}</h2>
                        <div v-html="fields.cardOneContent.value"></div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="card my-5">
                    <div class="card-body" :class="fields.align.value">
                        <div class="text-center">
                            <img :src="fields.cardTwoImage.value.src" :alt="fields.cardTwoImage.value.alt" :title="fields.cardTwoImage.value.alt" class="img-fluid rounded-circle p-4">
                        </div>
                        <h2>{{ fields.cardTwoHeader.value }}</h2>
                        <div v-html="fields.cardTwoContent.value"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
    import BlockMixin from './../BlockMixin';

    export default {
        mixins: [BlockMixin],
        data() {
            return {
                //FIELDS_START
                fields: {
                    cardOneHeader: {
                        label: "Card 1 Header",
                        type: "text",
                        value: "Lorem ipsum"
                    },
                    cardOneContent: {
                        label: "Card 1 Content",
                        type: "wysiwyg",
                        value: "Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet, cumque debitis deleniti ea eos, in incidunt iste molestias non omnis perspiciatis placeat praesentium provident quas quidem sunt unde voluptate voluptatem."
                    },
                    cardOneImage: {
                        label: "Image",
                        type: "image",
                        value: {
                            src: "/senses-builder/images/coffee-image-small.jpg",
                            title: "",
                            file_id: null,
                            alt: "",
                            width: 200,
                            height: 200
                        }
                    },
                    cardTwoHeader: {
                        label: "Card 2 Header",
                        type: "text",
                        value: "Lorem ipsum"
                    },
                    cardTwoContent: {
                        label: "Card 2 Content",
                        type: "wysiwyg",
                        value: "Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet, cumque debitis deleniti ea eos, in incidunt iste molestias non omnis perspiciatis placeat praesentium provident quas quidem sunt unde voluptate voluptatem."
                    },
                    cardTwoImage: {
                        label: "Image",
                        type: "image",
                        value: {
                            src: "/senses-builder/images/coffee-image-small.jpg",
                            title: "",
                            file_id: null,
                            alt: "",
                            width: 200,
                            height: 200
                        }
                    },
                    align: {
                        label: "Text Alignment",
                        type: "class",
                        value: "text-center",
                        options: {
                            "text-center": "Text Center",
                            "text-left": "Text Left",
                            "text-right": "Text Right"
                        }
                    }
                }
                //FIELDS_END
            }
        }
    }
</script>