<template>
    <div class="container-fluid my-5 px-0">
        <div class="row">
            <div class="col-sm-6">
                <img :src="fields.image.value.src" :alt="fields.image.value.alt" :title="fields.image.value.alt" class="img-fluid mb-3">
            </div>
            <div class="col-sm-6">
                <h2>{{ fields.header.value }}</h2>
                <div v-html="fields.content.value" class="my-4"></div>
                <a :href="fields.buttonLink.value" class="btn" :class="fields.buttonStyle.value">{{ fields.buttonText.value }}</a>
            </div>
        </div>
    </div>
</template>
<script>
    import BlockMixin from './../BlockMixin';

    export default {
        mixins: [BlockMixin],
        data() {
            return {
                //FIELDS_START
                fields: {
                    image: {
                        label: "Image",
                        type: "image",
                        value: {
                            src:"/senses-builder/images/coffee-image.jpg",
                            title:"",
                            file_id:null,
                            alt:"",
                            width:540,
                            height:310
                        }
                    },
                    header: {
                        label: "Header",
                        type: "text",
                        value:"Lorem ipsum"
                    },
                    content: {
                        label: "Content",
                        type: "wysiwyg",
                        value:"Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet, cumque debitis deleniti ea eos, in incidunt iste molestias non omnis perspiciatis placeat praesentium provident quas."
                    },
                    buttonText: {
                        label: "Button Text",
                        type: "text",
                        value:"Read more"
                    },

                    buttonLink: {
                        label: "Button Link",
                        type: "url",
                        value:"#"
                    },
                    buttonStyle:{
                        label: "Button Style",
                        type: "class",
                        value: "btn-primary",
                        options: {
                            "btn-primary": "Solid primary",
                            "btn-secondary": "Solid secondary",
                            "btn-info": "Solid Info",
                            "btn-outline-primary": "Outline primary",
                            "btn-outline-secondary": "Outline secondary",
                            "btn-outline-info": "Outline info"
                        }
                    }
                }
                //FIELDS_END
            }
        }
    }
</script>