<template>
    <div class="container-fluid my-5 px-0">
        <div class="row" :class="fields.align.value">
            <div class="col-sm-8">
                <img :src="fields.image.value.src" :alt="fields.image.value.alt" :title="fields.image.value.alt" class="img-fluid mb-3">
            </div>
            <div class="col-sm-4">
                <h3>{{ fields.heading.value }}</h3>
                <div v-html="fields.content.value"></div>
            </div>
        </div>
    </div>
</template>
<script>
    import BlockMixin from './../BlockMixin';

    export default {
        mixins: [BlockMixin],
        data() {
            return {
                //FIELDS_START
                fields: {
                    heading: {
                        label: "Heading",
                        type: "text",
                        value:"Lorem ipsum"
                    },
                    content: {
                        label: "Content",
                        type: "wysiwyg",
                        value:"Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet, cumque debitis deleniti ea eos, in incidunt iste molestias non omnis perspiciatis placeat praesentium provident quas quidem sunt unde voluptate voluptatem."
                    },

                    align:{
                        label: "Text Alignment",
                        type: "class",
                        value: "text-left",
                        options: {
                            "text-center": "Text Center",
                            "text-left": "Text Left",
                            "text-right": "Text Right"
                        }
                    },

                    image: {
                        label: "Image",
                        type: "image",
                        value: {
                            src:"/senses-builder/images/coffee-image.jpg",
                            title:"",
                            file_id:null,
                            alt:"",
                            width:730,
                            height:415
                        }
                    }
                }
                //FIELDS_END
            }
        }
    }
</script>