<template>
    <div class="my-5" :class="fields.align.value">
        <a :href="fields.buttonOneLink.value" class="btn mb-3" :class="fields.buttonOneStyle.value">{{ fields.buttonOneText.value }}</a>
        <a :href="fields.buttonTwoLink.value" class="btn mb-3" :class="fields.buttonTwoStyle.value">{{ fields.buttonTwoText.value }}</a>
    </div>
</template>
<script>
    import BlockMixin from './../BlockMixin';

    export default {
        mixins: [BlockMixin],
        data() {
            return {
                //FIELDS_START
                fields: {
                    buttonOneText: {
                        label: "Button One Text",
                        type: "text",
                        value:"Read more"
                    },

                    buttonOneLink: {
                        label: "Button One Link",
                        type: "url",
                        value:"#"
                    },
                    buttonOneStyle:{
                        label: "Button One Style",
                        type: "class",
                        value: "btn-primary",
                        options: {
                            "btn-primary": "Solid primary",
                            "btn-secondary": "Solid secondary",
                            "btn-info": "Solid Info",
                            "btn-outline-primary": "Outline primary",
                            "btn-outline-secondary": "Outline secondary",
                            "btn-outline-info": "Outline info"
                        }
                    },
                    buttonTwoText: {
                        label: "Button Two Text",
                        type: "text",
                        value:"Read more"
                    },

                    buttonTwoLink: {
                        label: "Button Two Link",
                        type: "url",
                        value:"#"
                    },
                    buttonTwoStyle:{
                        label: "Button Two Style",
                        type: "class",
                        value: "btn-outline-primary",
                        options: {
                            "btn-primary": "Solid primary",
                            "btn-secondary": "Solid secondary",
                            "btn-info": "Solid Info",
                            "btn-outline-primary": "Outline primary",
                            "btn-outline-secondary": "Outline secondary",
                            "btn-outline-info": "Outline info"
                        }
                    },
                    align:{
                        label: "Text Alignment",
                        type: "class",
                        value: "text-center",
                        options: {
                            "text-center": "Text Center",
                            "text-left": "Text Left",
                            "text-right": "Text Right"
                        }
                    }
                }
                //FIELDS_END
            }
        }
    }
</script>