<template>
    <div class="container-fluid py-5 px-0">
        <div class="row">
            <div class="col-sm-6">
                <img :src="fields.imageOne.value.src" :alt="fields.imageOne.value.alt" :title="fields.imageOne.value.alt" class="img-fluid mb-3">
            </div>
            <div class="col-sm-6">
                <img :src="fields.imageTwo.value.src" :alt="fields.imageTwo.value.alt" :title="fields.imageTwo.value.alt" class="img-fluid mb-3">
            </div>
        </div>
    </div>
</template>
<script>
    import BlockMixin from './../BlockMixin';

    export default {
        mixins: [BlockMixin],
        data() {
            return {
                //FIELDS_START
                fields: {
                    imageOne: {
                        label: "Image One",
                        type: "image",
                        value: {
                            src:"/senses-builder/images/coffee-image.jpg",
                            title:"",
                            file_id:null,
                            alt:"",
                            width:540,
                            height:210
                        }
                    },
                    imageTwo: {
                        label: "Image Two",
                        type: "image",
                        value: {
                            src:"/senses-builder/images/coffee-image.jpg",
                            title:"",
                            file_id:null,
                            alt:"",
                            width:540,
                            height:210
                        }
                    }
                }
                //FIELDS_END
            }
        }
    }
</script>