<template>
    <div class="container-fluid my-5 px-0">
        <div class="row" :class="fields.align.value">
            <div class="col-sm-6">
                <h3>{{ fields.leftHeading.value }}</h3>
                <div v-html="fields.leftContent.value" class="mb-3"></div>
            </div>
            <div class="col-sm-6">
                <h3>{{ fields.rightHeading.value }}</h3>
                <div v-html="fields.rightContent.value" class="mb-3"></div>
            </div>
        </div>
    </div>
</template>
<script>
    import BlockMixin from './../BlockMixin';

    export default {
        mixins: [BlockMixin],
        data() {
            return {
                //FIELDS_START
                fields: {
                    leftHeading: {
                        label: "Left Heading",
                        type: "text",
                        value:"Lorem ipsum"
                    },

                    leftContent: {
                        label: "Left Content",
                        type: "wysiwyg",
                        value:"Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet, cumque debitis deleniti ea eos, in incidunt iste molestias non omnis perspiciatis placeat praesentium provident quas quidem sunt unde voluptate voluptatem."
                    },

                    rightHeading: {
                        label: "Right Heading",
                        type: "text",
                        value:"Lorem ipsum"
                    },

                    rightContent: {
                        label: "Right Content",
                        type: "wysiwyg",
                        value:"Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet, cumque debitis deleniti ea eos, in incidunt iste molestias non omnis perspiciatis placeat praesentium provident quas quidem sunt unde voluptate voluptatem."
                    },
                    align:{
                        label: "Text Alignment",
                        type: "class",
                        value: "text-left",
                        options: {
                            "text-center": "Text Center",
                            "text-left": "Text Left",
                            "text-right": "Text Right"
                        }
                    }
                }
                //FIELDS_END
            }
        }
    }
</script>