<template>
    <div class="container-fluid px-0" :class="fields.align.value">
        <div class="row">
            <div class="col-sm-6">
                <blockquote class="blockquote my-5">
                    <p class="mb-2">{{ fields.quoteOne.value }}</p>
                    <footer class="blockquote-footer"><cite title="Source Title">{{ fields.sourceOne.value }}</cite></footer>
                </blockquote>
            </div>
            <div class="col-sm-6">
                <blockquote class="blockquote my-5">
                    <p class="mb-2">{{ fields.quoteTwo.value }}</p>
                    <footer class="blockquote-footer"><cite title="Source Title">{{ fields.sourceTwo.value }}</cite></footer>
                </blockquote>
            </div>
        </div>
    </div>
</template>
<script>
    import BlockMixin from './../BlockMixin';

    export default {
        mixins: [BlockMixin],
        data() {
            return {
                //FIELDS_START
                fields: {
                    quoteOne: {
                        label: "Quote",
                        type: "textarea",
                        value:"Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet, cumque debitis deleniti ea eos, in incidunt iste molestias non omnis perspiciatis placeat praesentium provident quas quidem sunt unde voluptate voluptatem."
                    },
                    sourceOne: {
                        label: "Source",
                        type: "text",
                        value:"By John Smith"
                    },
                    quoteTwo: {
                        label: "Quote",
                        type: "textarea",
                        value:"Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet, cumque debitis deleniti ea eos, in incidunt iste molestias non omnis perspiciatis placeat praesentium provident quas quidem sunt unde voluptate voluptatem."
                    },
                    sourceTwo: {
                        label: "Source",
                        type: "text",
                        value:"By John Smith"
                    },
                    align:{
                        label: "Text Alignment",
                        type: "class",
                        value: "text-left",
                        options: {
                            "text-center": "Text Center",
                            "text-left": "Text Left",
                            "text-right": "Text Right"
                        }
                    }
                }
                //FIELDS_END
            }
        }
    }
</script>