<template>
    <div class="container-fluid py-5 px-0">
        <div class="row">
            <div class="col-sm-6">
                <img :src="fields.imageOne.value.src" :alt="fields.imageOne.value.alt" :title="fields.imageOne.value.alt" class="img-fluid mb-3">
                <div v-html="fields.textOne.value" class="mb-3"></div>
            </div>
            <div class="col-sm-6">
                <img :src="fields.imageTwo.value.src" :alt="fields.imageTwo.value.alt" :title="fields.imageTwo.value.alt" class="img-fluid mb-3">
                <div v-html="fields.textTwo.value" class="mb-3"></div>
            </div>
        </div>
    </div>
</template>
<script>
    import BlockMixin from './../BlockMixin';

    export default {
        mixins: [BlockMixin],
        data() {
            return {
                //FIELDS_START
                fields: {
                    imageOne: {
                        label: "Image One",
                        type: "image",
                        value: {
                            src:"/senses-builder/images/coffee-image.jpg",
                            title:"",
                            file_id:null,
                            alt:"",
                            width:540,
                            height:210
                        }
                    },
                    textOne: {
                        label: "Image One Text",
                        type: "wysiwyg",
                        value:"Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda consequuntur debitis facere praesentium reiciendis rem veniam."
                    },
                    imageTwo: {
                        label: "Image Two",
                        type: "image",
                        value: {
                            src:"/senses-builder/images/coffee-image.jpg",
                            title:"",
                            file_id:null,
                            alt:"",
                            width:540,
                            height:210
                        }
                    },
                    textTwo: {
                        label: "Image Two Text",
                        type: "wysiwyg",
                        value:"Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda consequuntur debitis facere praesentium reiciendis rem veniam."
                    }
                }
                //FIELDS_END
            }
        }
    }
</script>